
/*
Pantalla inicio
 */
.fondo-inicio {
    -fx-background-image: url("../imagenes/1FondoInicio.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.boton-inicio {
    -fx-background-color: #669D31;
    -fx-border-color: #669D31;
    -fx-text-fill: #DBD4D4;

    -fx-pref-height: 104px;
    -fx-pref-width: 482px;
    -fx-background-radius: 8;
    -fx-border-radius: 8;

    -fx-font-size: 40px;
    -fx-font-family: "Mono Sans";
    -fx-alignment: center;
}

/* Hover del botón */
.boton-inicio:hover {
    -fx-background-color: #7CCB3A;
    -fx-cursor: hand;
}

/* Botón presionado */
.boton-inicio:pressed {
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}

/*
   FONDO SELECCIÓN DE JUEGOS
 */
.fondo-juegos {
    -fx-background-image: url("../imagenes/2FondoPantallaSeleccioJuegos.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

/*
   TÍTULO PRINCIPAL
*/
.titulo-juegos {
    -fx-font-size: 35px;
    -fx-font-family: "Mono Sans";
    -fx-text-fill: #DBD4D4;
}

/*
   BOTONES DE JUEGOS
*/
.boton-juegos {
    -fx-background-color: #669D31;
    -fx-border-color: #669D31;
    -fx-text-fill: #DBD4D4;

    -fx-background-radius: 8;
    -fx-border-radius: 8;

    -fx-font-family: "Mono Sans";
    -fx-font-size: 28px;
    -fx-pref-height: 56px;
    -fx-pref-width: 296px;
}

/* Hover para ambos botones */
.boton-juegos:hover {
    -fx-background-color: #7CCB3A;
    -fx-cursor: hand;
}



/*
   JUEGO ADIVINA NUMERO
*/
.fondo-juego-adivina {
    -fx-background-image: url("../imagenes/4FondoJuegoAdivina.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

/*
   TÍTULO PRINCIPAL
 */
.titulo-juego-adivina {
    -fx-font-size: 40px;
    -fx-font-family: "Mono Sans";
    -fx-font-weight: bold;
    -fx-text-fill: #11270B;
}

/*
   SUBTÍTULO
 */
.subtitulo-juego-adivina {
    -fx-font-size: 15px;
    -fx-font-family: "Mono Sans";
    -fx-text-fill: #000000;
}

/*
   INPUT NUMÉRICO
*/
.input-numero {
    -fx-pref-height: 96px;
    -fx-pref-width: 230px;

    -fx-font-size: 18px;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #999999;
}

/*
   BOTÓN PRINCIPAL
 */
.boton-jugar-adivina {
    -fx-background-color: #669D31;
    -fx-border-color: #669D31;
    -fx-text-fill: #DBD4D4;

    -fx-pref-height: 104px;
    -fx-pref-width: 300px;
    -fx-background-radius: 8;
    -fx-border-radius: 8;

    -fx-font-size: 40px;
    -fx-font-family: "Mono Sans";
}

/* Hover del botón */
.boton-jugar-adivina:hover {
    -fx-background-color: #7CCB3A;
    -fx-cursor: hand;
}

/*
 RESULTADO
 */

.resultado-adivina{
    -fx-font-size: 24px;
    -fx-font-family: "Mono Sans";
    -fx-text-fill: #000000;
}

/*
   FONDO JUEGO 7 DE LA SUERTE
*/
.fondo-juego-siete {
    -fx-background-image: url("../imagenes/3FondoJuegoSieteSuerte.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

/*
   TÍTULO PRINCIPAL
 */
.titulo-siete {
    -fx-font-size: 40px;
    -fx-font-family: "Mono Sans";
    -fx-font-weight: bold;
    -fx-text-fill: #11270B;
}

/*
   BOTÓN JUGAR
*/
.boton-jugar-siete {
    -fx-background-color: #669D31;
    -fx-border-color: #669D31;
    -fx-text-fill: #DBD4D4;

    -fx-pref-height: 116px;
    -fx-pref-width: 296px;
    -fx-background-radius: 8;
    -fx-border-radius: 8;

    -fx-font-size: 50px;
    -fx-font-family: "Mono Sans";
}

/* Hover del botón */
.boton-jugar-siete:hover {
    -fx-background-color: #7CCB3A;
    -fx-cursor: hand;
}

/*
   RESULTADO
 */
.resultado-siete {
    -fx-font-size: 60px;
    -fx-font-family: "Mono Sans";
    -fx-text-fill: #11270B;
}