.root {
    -fx-background-color: #f4f6f9;
}

.card {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 20, 0.2, 0, 4);
}

.titulo {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.btn-registrar {
    -fx-background-color: #1565C0;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

